doctype html
html(lang='es')
  head
    title Explorar
    meta(charset='UTF-8')
    // Import Google Icon Font
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Compiled and minified CSS
    link(rel='stylesheet', href='css/materialize.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/explorar.css')
    link(rel='stylesheet', href='css/inicio.css')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- SEO
    meta(name='keywords', content='gento, ropa para hombres, asesoria de estilo, e-commerce, fashion')
    meta(name='description', content='Explora las mejores opciones para tu tipo de estilo, y observa las selecciones que ya hemos realizado. Tu puedes ser el siguiente en vivir la experiencia.')
    meta(name='author', content='Gento')
    //- OPEN GRAPH
    meta(property='og:title', content='GENTO - Explora selecciones')
    meta(property='og:description', content='Explora las mejores opciones para tu tipo de estilo, y observa las selecciones que ya hemos realizado. Tu puedes ser el siguiente en vivir la experiencia.')
    meta(property='og:image', content='https://trello-attachments.s3.amazonaws.com/589191fc28092a79ef050122/450x450/c14126b7f86ab109ac04e0ade59dd4e7/GENTOFUTURE.png')
  body
    header
      #header-web-gento.navbar-fixed
        nav.black
          .nav-wrapper
            a.brand-logo(href='#!')
              img(src='img/inicio/header/logo.png', alt='')
            a.button-collapse.icono-button(href='#', data-activates='mobile-demo', onclick='buttonChange()')
              i.material-icons.icono menu
            ul.right.hide-on-med-and-down
              li
                a.active(href='/') INICIO
              if bol.valor == 1
                li
                  a(href='/explorar') EXPLORAR
              if bol.valor == 0
                li
                  a(href='/pronto') REGISTRO
              else
                li
                  a(href='/perfil') PERFIL
            ul#mobile-demo.side-nav.side-nav-content
              li
                a.active(href='/') INICIO
              if bol.valor == 1
                li
                  a(href='/explorar') EXPLORAR
              if bol.valor == 0
                li
                  a(href='/pronto') REGISTRO
              else
                li
                  a(href='/perfil') PERFIL
    main
      .row
        .explorar-a.center
          .explorar-1
            p REVISA
            p NUESTRA COLECCIÓN
            p DE PRENDAS
            p PARA TI
          .explorar-2
            .search-gento.valign-wrapper
              .col.l11.m11.s10
                input.input-gento(placeholder='BUSCA LO QUE NECESITAS', id='', type='search')
              .col.l1.m1.s2
                a(href='#')
                  i.small.material-icons.iconSearch search
      // NOTE: EXPLORER CLOTHES
      .row.explorar-clothes
        .explorar-b.center
          .explorar-3
            p EXPLORAMOS
            p PRENDAS QUE VAN
            p  CONTIGO
        .explorar-prendas
          .col.l4.m6.s12
            .card.selections1
              .card-image.selections2.waves-effect.waves-block.waves-light
                // NOTE: IMAGEN DE LA PRENDA NO MAYOR A 280PX DE WITH
                img.activator.responsive-img(src='img/inicio/select/02.jpg')
              .card-content
                span.card-title.card-title-size.activator.grey-text.text-darken-4
                  | Sport Elegante
                  i.material-icons.right more_vert
                p
                  a(href='#') S/. 150.00
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Camisa Abantos
                  i.material-icons.right close
                // NOTE: ADD MORE INFORMATION OF THE CLOTHES
                p
                  | Here is some more information about this product that is only revealed once clicked on.
                p.center
                  a.waves-effect.waves-light.btn.black.helvetica2
                    i.material-icons.right shopping_cart
                    | COMPRAR
          .col.l4.m6.s12
            .card.selections1
              .card-image.selections2.waves-effect.waves-block.waves-light
                // NOTE: IMAGEN DE LA PRENDA NO MAYOR A 280PX DE WITH
                img.activator.responsive-img(src='img/inicio/select/02.jpg')
              .card-content
                span.card-title.card-title-size.activator.grey-text.text-darken-4
                  | Sport Elegante
                  i.material-icons.right more_vert
                p
                  a(href='#') S/. 150.00
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Camisa Abantos
                  i.material-icons.right close
                // NOTE: ADD MORE INFORMATION OF THE CLOTHES
                p
                  | Here is some more information about this product that is only revealed once clicked on.
                p.center
                  a.waves-effect.waves-light.btn.black.helvetica2
                    i.material-icons.right shopping_cart
                    | COMPRAR
          .col.l4.m6.s12
            .card.selections1
              .card-image.selections2.waves-effect.waves-block.waves-light
                // NOTE: IMAGEN DE LA PRENDA NO MAYOR A 280PX DE WITH
                img.activator.responsive-img(src='img/inicio/select/02.jpg')
              .card-content
                span.card-title.card-title-size.activator.grey-text.text-darken-4
                  | Sport Elegante
                  i.material-icons.right more_vert
                p
                  a(href='#') S/. 150.00
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Camisa Abantos
                  i.material-icons.right close
                // NOTE: ADD MORE INFORMATION OF THE CLOTHES
                p
                  | Here is some more information about this product that is only revealed once clicked on.
                p.center
                  a.waves-effect.waves-light.btn.black.helvetica2
                    i.material-icons.right shopping_cart
                    | COMPRAR
          .col.l4.m6.s12
            .card.selections1
              .card-image.selections2.waves-effect.waves-block.waves-light
                // NOTE: IMAGEN DE LA PRENDA NO MAYOR A 280PX DE WITH
                img.activator.responsive-img(src='img/inicio/select/02.jpg')
              .card-content
                span.card-title.card-title-size.activator.grey-text.text-darken-4
                  | Sport Elegante
                  i.material-icons.right more_vert
                p
                  a(href='#') S/. 150.00
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Camisa Abantos
                  i.material-icons.right close
                // NOTE: ADD MORE INFORMATION OF THE CLOTHES
                p
                  | Here is some more information about this product that is only revealed once clicked on.
                p.center
                  a.waves-effect.waves-light.btn.black.helvetica2
                    i.material-icons.right shopping_cart
                    | COMPRAR
          .col.l4.m6.s12
            .card.selections1
              .card-image.selections2.waves-effect.waves-block.waves-light
                // NOTE: IMAGEN DE LA PRENDA NO MAYOR A 280PX DE WITH
                img.activator.responsive-img(src='img/inicio/select/02.jpg')
              .card-content
                span.card-title.card-title-size.activator.grey-text.text-darken-4
                  | Sport Elegante
                  i.material-icons.right more_vert
                p
                  a(href='#') S/. 150.00
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Camisa Abantos
                  i.material-icons.right close
                // NOTE: ADD MORE INFORMATION OF THE CLOTHES
                p
                  | Here is some more information about this product that is only revealed once clicked on.
                p.center
                  a.waves-effect.waves-light.btn.black.helvetica2
                    i.material-icons.right shopping_cart
                    | COMPRAR
          .col.l4.m6.s12
            .card.selections1
              .card-image.selections2.waves-effect.waves-block.waves-light
                // NOTE: IMAGEN DE LA PRENDA NO MAYOR A 280PX DE WITH
                img.activator.responsive-img(src='img/inicio/select/02.jpg')
              .card-content
                span.card-title.card-title-size.activator.grey-text.text-darken-4
                  | Sport Elegante
                  i.material-icons.right more_vert
                p
                  a(href='#') S/. 150.00
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Camisa Abantos
                  i.material-icons.right close
                // NOTE: ADD MORE INFORMATION OF THE CLOTHES
                p
                  | Here is some more information about this product that is only revealed once clicked on.
                p.center
                  a.waves-effect.waves-light.btn.black.helvetica2
                    i.material-icons.right shopping_cart
                    | COMPRAR
      // NOTE: ULTIMAS COMPRAS
      .row.sell
        .explorar-d.center
          .explorar-4
            p ULTIMAS
            p  COMPRAS
        .carousel.carousel-sell.carousel-sell-css.valign-wrapper
          .carousel-item.item-sell.white-text.valign(href='#one!')
            .row.carousel-text
              .col.l4.m4.s12.carousel-item-1
                img(src='https://scontent.flim2-1.fna.fbcdn.net/v/t1.0-9/14705658_1817070421844384_423033548073732883_n.jpg?oh=dad99b8b19ea20c05b03831d4d5debda&oe=59467505', alt='')
                p
                  b.helvetica3 MARTIN ESPINOZA RIVERA
                  br
                  |                   CLIENTE
              .col.l8.m8.s12.carousel-item-2
                p.helvetica3 DINNER JACKET
                p.helvetica2
                  | ENVIADO A: HUARAL-LIMA
                  br
                  |                     MARCA:Emporio Armani
                a.waves-effect.black.btn.helvetica2 PRECIO S/.200
          .carousel-item.item-sell.white-text.valign(href='#one!')
            .row.carousel-text
              .col.l4.m4.s12.carousel-item-1
                img(src='https://scontent.flim2-1.fna.fbcdn.net/v/t31.0-1/c14.0.959.959/15384498_1212381955521047_3172680018974028702_o.jpg?oh=feec8c9d0fd4e6c992dd1c22d9484a40&oe=5941035C', alt='')
                p
                  b.helvetica3 ALBETHO MEDINA ENCALADA
                  br
                  |                   CLIENTE
              .col.l8.m8.s12.carousel-item-2
                p.helvetica3 ESMOQUIN
                p.helvetica2
                  | ENVIADO A: VENTANILLA
                  br
                  |                     MARCA: Dolce & Gabbana
                a.waves-effect.black.btn.helvetica2 PRECIO S/.240
          .carousel-item.item-sell.white-text.valign(href='#one!')
            .row.carousel-text
              .col.l4.m4.s12.carousel-item-1
                img(src='https://scontent.flim2-1.fna.fbcdn.net/v/t1.0-9/12990931_1063264723733731_5224235448937683852_n.jpg?oh=6c87d8619f917456c2e714fa001ac105&oe=592F94A9', alt='')
                p
                  b.helvetica3 JORDY DIAZ CASTRO
                  br
                  |                   CLIENTE
              .col.l8.m8.s12.carousel-item-2
                p.helvetica3 Terno Basement
                p.helvetica2
                  | ENVIADO A: SAN MIGUEL
                  br
                  |                     MARCA: Tagliatore
                a.waves-effect.black.btn.helvetica2 PRECIO S/.210

    footer.page-footer.black
      .container
        .row
          .col.l6.s12
            h5.white-text Gento, la forma más inteligente de comprar ropa.
            p.grey-text.text-lighten-4
              span Recuerda que al comprar en Gento, medimos tus tallas,
              br
              span y analizamos tu estilo para buscar en todas las tiendas
              br
              span y poder ofrecerte las mejores prendas personalizadas para ti.
          .col.l4.offset-l2.s12
            h5.white-text Síguenos en Redes Sociales
            ul
              li
                a.grey-text.text-lighten-3(target='blank', href='https://facebook.com.com/gentoapp')
                  i.fa.fa-facebook
                  p Facebook
              li
                a.grey-text.text-lighten-3(target='blank', href='https://twitter.com.com/gentoapp')
                  i.fa.fa-twitter
                  p Twitter
              li
                a.grey-text.text-lighten-3(target='blank', href='https://instagram.com/gentoapp')
                  i.fa.fa-instagram
                  p Instagram
      .footer-copyright
        .container
          strong hola@gento.pe  |  © 2017 GENTO      
    // Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-85217882-6', 'auto');
      ga('send', 'pageview');
    // Import jQuery before materialize.js
    script(type='text/javascript', src='js/jQuery-3.1.1.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js')
    script(src='js/materialize.min.js')
    script(src='js/headroom.min.js')
    script(src='js/explorar.js')
