doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    // Import Google Icon Font
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Compiled and minified CSS
    link(rel='stylesheet', href='css/explorar.css')
    link(rel='stylesheet', href='css/materialize.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/inicio.css')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- SEO
    meta(name='keywords', content='gento, ropa para hombres, asesoria de estilo, e-commerce, fashion')
    meta(name='description', content='Gento, el e-commerce que escanea tus tallas, analiza tu estilo y busca entre todas las tiendas para darte las prendas que vayan contigo. Entra y vive la experiencia.')
    meta(name='author', content='Gento')
    //- OPEN GRAPH
    meta(property='og:title', content='GENTO')
    meta(property='og:description', content='Gento, el e-commerce que escanea tus tallas, analiza tu estilo y busca entre todas las tiendas para darte las prendas que vayan contigo. Entra y vive la experiencia.')
    meta(property='og:image', content='https://trello-attachments.s3.amazonaws.com/589191fc28092a79ef050122/450x450/c14126b7f86ab109ac04e0ade59dd4e7/GENTOFUTURE.png')
  body
    header
      #header-web-gento.navbar-fixed
        nav.black
          .nav-wrapper
            a.brand-logo(href='#!')
              img(src='img/inicio/header/logo.png', alt='')
            a.button-collapse.icono-button(href='#', data-activates='mobile-demo', onclick='buttonChange()')
              i.material-icons.icono menu
            ul.right.hide-on-med-and-down
              li
                a.active(href='/') INICIO
              li
                a(href='/explorar') EXPLORAR
              li
                a(href='/pronto') REGISTRARSE
            ul#mobile-demo.side-nav.side-nav-content
              li
                a.active(href='/') INICIO
              li
                a(href='/explorar') EXPLORAR
              li
                a(href='/pronto') REGISTRARSE
    main
      .slider
        ul.slides
          li
            img(src='img/inicio/slides/01.jpg')
            // random image
            .caption.center-align
              h3.helvetica2 Encuentra ropa solo para ti.
              h5.light.grey-text.text-lighten-3 Buscaremos las prendas precisas.
              a.waves-effect.black.btn(href='/pronto') REGISTRATE
          li
            img(src='img/inicio/slides/02.jpg')
            // random image
            .caption.left-align
              h3.helvetica2 Gento Buscará las prendas por ti.
              h5.light.grey-text.text-lighten-3 Olvídate de los problemas.
              a.waves-effect.black.btn(href='/pronto') REGISTRATE
          li
            img(src='img/inicio/slides/01.jpg')
            // random image
            .caption.right-align
              h3.helvetica2 Encuentra ropa solo para ti.
              h5.light.grey-text.text-lighten-3 Buscaremos las prendas precisas.
              a.waves-effect.black.btn.helvetica2 REGISTRATE
      // NOTE: VIDEO
      .center.center-block.video-gento
        .row.valign.center.center-block
          iframe(src='https://player.vimeo.com/video/201190365', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

      // NOTE: WHY USE GENTO
      .parallax-container.valign-wrapper.margin-sup.seccion2.gris
        .row.valign
          .col.s12.why-1
            p.why-text ¿Por qué comprar en Gento?
          .col.s12
            .col.l4.m4.s12
              .col.l12.m12.s6
                img(src='img/inicio/why/01.png', alt='')
              .col.l12.m12.s6
                p ¿No encuentras las prendas correctas?
            .col.l4.m4.s12
              .col.l12.m12.s6
                img(src='img/inicio/why/02.png', alt='')
              .col.l12.m12.s6
                p Una simple foto no te dice cómo te quedará
            .col.l4.m4.s12
              .col.l12.m12.s6
                img(src='img/inicio/why/03.png', alt='')
              .col.l12.m12.s6
                p ¿Pierdes demasiados tiempo y dinero buscando?
        //- .parallax
        //-   img(src='img/1.jpg')
      // NOTE: PART HOW TO USE GENTO
      .row.how
        .col.l5.m6.s12
          .how-iphone
            .slider.slider-how
              ul.slides
                li
                  img(src='img/inicio/how/cel1.png')
                  // random image
                  //- .caption.center-align
                  //-   h3 This is our big Tagline!
                  //-   h5.light.grey-text.text-lighten-3 Escanea tus tallas y estilo.
                li
                  img(src='img/inicio/how/cel2.png')
                  // random image
                  //- .caption.center-align
                  //-   h3 This is our big Tagline!
                  //-   h5.light.grey-text.text-lighten-3 Escanea tus tallas y estilo.
                li
                  img(src='img/inicio/how/cel3.png')
                  // random image
                  //- .caption.left-align
                  //-   h3 Left Aligned Caption
                  //-   h5.light.grey-text.text-lighten-3 Recibe recomendaciones.
                li
                  img(src='img/inicio/how/cel4.png')
                  // random image
                  //- .caption.right-align
                  //-   h3 Right Aligned Caption
                  //-   h5.light.grey-text.text-lighten-3 Compra y recibe en tu casa.

        .col.l7.m6.s12.how-text
          .col.s12
            h3 Es muy facil
          .col.s12
            span ESCANEAR
            br
            p Gento escaneará tus tallas con una foto y sacará tu estilo con unas simples preguntas.
          .col.s12
            span EXPLORAR
            br
            p Buscará entre todas las tiendas prendas solamente para ti.
          .col.s12
            span RECIBIR
            p Ahora solo espera unos dias y tendrás tu selección en la puerta de tu casa.
      
      // NOTE: ULTIMAS COMPRAS
      .row.sell
        .explorar-d.center
          .explorar-4
            p ULTIMAS
            p  COMPRAS
        .carousel.carousel-sell.carousel-sell-css.valign-wrapper
          .carousel-item.item-sell.white-text.valign(href='#one!')
            .row.carousel-text
              .col.l4.m4.s12.carousel-item-1
                img(src='img/explorar/lastsell/02.png', alt='')
                p
                  b.helvetica3 CRISTIAN VALLE
                  br
                  |                   CLIENTE
              .col.l8.m8.s12.carousel-item-2
                p.helvetica3 BLAZER BROWN
                p.helvetica2
                  | ENVIADO A: SAN ISIDRO 
                  br
                  |                     MARCA: JOHN HOLDEN
                a.waves-effect.black.btn.helvetica2 PRECIO S/.170
          .carousel-item.item-sell.white-text.valign(href='#one!')
            .row.carousel-text
              .col.l4.m4.s12.carousel-item-1
                img(src='img/explorar/lastsell/02.png', alt='')
                p
                  b.helvetica3 CRISTIAN VALLE
                  br
                  |                   CLIENTE
              .col.l8.m8.s12.carousel-item-2
                p.helvetica3 BLAZER BROWN
                p.helvetica2
                  | ENVIADO A: SAN ISIDRO 
                  br
                  |                     MARCA: JOHN HOLDEN
                a.waves-effect.black.btn.helvetica2 PRECIO S/.170
          .carousel-item.item-sell.white-text.valign(href='#one!')
            .row.carousel-text
              .col.l4.m4.s12.carousel-item-1
                img(src='img/explorar/lastsell/02.png', alt='')
                p
                  b.helvetica3 CRISTIAN VALLE
                  br
                  |                   CLIENTE
              .col.l8.m8.s12.carousel-item-2
                p.helvetica3 BLAZER BROWN
                p.helvetica2
                  | ENVIADO A: SAN ISIDRO 
                  br
                  |                     MARCA: JOHN HOLDEN
                a.waves-effect.black.btn.helvetica2 PRECIO S/.170
      .row.partner
        h3
          p Partners
        .col.l4.m4.s12
          a(href='#one!')
            img(src='img/inicio/partner/1551.png')
            p Incubadora 1551
        .col.l4.m4.s12
          a(href='#one!')
            img(src='img/inicio/partner/1551.png')
            p Devs Marketing Digital
        .col.l4.m4.s12
          a(href='#one!')
            img(src='img/inicio/partner/1551.png')
            p Starter Agencia de Desarrollo
    footer.page-footer.black
      .container
        .row
          .col.l6.s12
            h5.white-text Gento, la forma más inteligente de comprar ropa.
            p.grey-text.text-lighten-4 
              span Recuerda que al comprar en Gento, medimos tus tallas,
              br
              span Y acamos tu estilo para buscar en todas las tiendas
              br
              span Y ofrecerte las mejores prendas personalizadas para ti.

          .col.l4.offset-l2.s12
            h5.white-text Síguenos en Redes Sociales
            ul
              li
                a.grey-text.text-lighten-3(target='blank' href='https://facebook.com.com/gentoapp')
                  i.fa.fa-facebook
                  p Facebook
              li
                a.grey-text.text-lighten-3(target='blank' href='https://twitter.com.com/gentoapp') 
                  i.fa.fa-twitter
                  p Twitter
              li
                a.grey-text.text-lighten-3(target='blank' href='https://instagram.com/gentoapp')
                  i.fa.fa-instagram
                  p Instagram

      .footer-copyright
        .container
          strong hola@gentoapp.com  |  © 2017 GENTO      
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-85217882-4', 'auto');
      ga('send', 'pageview');


    // Import jQuery before materialize.js
    script(type='text/javascript', src='js/jQuery-3.1.1.js')
    script(src='js/materialize.min.js')
    script(src='js/headroom.min.js')
    script(src='js/inicio.js')
