doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    // Import Google Icon Font
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Compiled and minified CSS
    link(rel='stylesheet', href='css/materialize.min.css')
    link(rel='stylesheet', href='css/inicio.css')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    header
      #header-web-gento.navbar-fixed
        nav.black
          .nav-wrapper
            a.brand-logo(href='#!')
              img(src='img/inicio/header/logo.png', alt='')
            a.button-collapse.icono-button(href='#', data-activates='mobile-demo', onclick='buttonChange()')
              i.material-icons.icono menu
            ul.right.hide-on-med-and-down
              li
                a.active(href='/') INICIO
              li
                a(href='/explorar') EXPLORAR
              li
                a(href='/registro') REGISTRARSE
            ul#mobile-demo.side-nav.side-nav-content
              li
                a.active(href='/') INICIO
              li
                a(href='/explorar') EXPLORAR
              li
                a(href='/registro') REGISTRARSE
    main
      .slider
        ul.slides
          li
            img(src='img/inicio/slides/01.jpg')
            // random image
            .caption.center-align
              h3.helvetica2 Encuentra ropa solo para ti.
              h5.light.grey-text.text-lighten-3 Buscaremos las prendas precisas.
              a.waves-effect.black.btn(href='/registro') REGISTRATE
          li
            img(src='img/inicio/slides/02.jpg')
            // random image
            .caption.left-align
              h3.helvetica2 Gento Buscará las prendas por ti.
              h5.light.grey-text.text-lighten-3 Olvídate de los problemas.
              a.waves-effect.black.btn(href='/registro') REGISTRATE
          li
            img(src='img/inicio/slides/01.jpg')
            // random image
            .caption.right-align
              h3.helvetica2 Encuentra ropa solo para ti.
              h5.light.grey-text.text-lighten-3 Buscaremos las prendas precisas.
              a.waves-effect.black.btn.helvetica2 REGISTRATE
      // NOTE: WHY USE GENTO
      .parallax-container.valign-wrapper.margin-sup.seccion2.gris
        .row.valign
          .col.s12.why-1
            p.why-text ¿Por qué comprar en Gento?
          .col.s12
            .col.l4.m4.s12
              .col.l12.m12.s6
                img(src='img/inicio/why/01.png', alt='')
              .col.l12.m12.s6
                p ¿No encuentras las prendas correctas?
            .col.l4.m4.s12
              .col.l12.m12.s6
                img(src='img/inicio/why/02.png', alt='')
              .col.l12.m12.s6
                p Una simple foto no te dice cómo te quedará
            .col.l4.m4.s12
              .col.l12.m12.s6
                img(src='img/inicio/why/03.png', alt='')
              .col.l12.m12.s6
                p ¿Pierdes demasiados tiempo y dinero buscando?
        //- .parallax
        //-   img(src='img/1.jpg')
      // NOTE: PART HOW TO USE GENTO
      .row.how
        .col.l5.m6.s12
          .how-iphone
            .slider.slider-how
              ul.slides
                li
                  img(src='img/inicio/how/cel1.png')
                  // random image
                  //- .caption.center-align
                  //-   h3 This is our big Tagline!
                  //-   h5.light.grey-text.text-lighten-3 Escanea tus tallas y estilo.
                li
                  img(src='img/inicio/how/cel2.png')
                  // random image
                  //- .caption.center-align
                  //-   h3 This is our big Tagline!
                  //-   h5.light.grey-text.text-lighten-3 Escanea tus tallas y estilo.
                li
                  img(src='img/inicio/how/cel3.png')
                  // random image
                  //- .caption.left-align
                  //-   h3 Left Aligned Caption
                  //-   h5.light.grey-text.text-lighten-3 Recibe recomendaciones.
                li
                  img(src='img/inicio/how/cel4.png')
                  // random image
                  //- .caption.right-align
                  //-   h3 Right Aligned Caption
                  //-   h5.light.grey-text.text-lighten-3 Compra y recibe en tu casa.

        .col.l7.m6.s12.how-text
          .col.s12
            h3 Es muy facil
          .col.s12
            span ESCANEAR
            br
            p Gento escaneará tus tallas con una foto y sacará tu estilo con unas simples preguntas.
          .col.s12
            span EXPLORAR
            br
            p Buscará entre todas las tiendas prendas solamente para ti.
          .col.s12
            span RECIBIR
            p Ahora solo espera unos dias y tendrás tu selección en la puerta de tu casa.
      // SELECCIONES RECIENTES:
      .row.selections
        h3
          p Selecciones recientes
        .col.l3.m6.s12
          .card.selections1
            .card-image.selections2.waves-effect.waves-block.waves-light
              img.activator.responsive-img(src='img/inicio/select/02.jpg')
            .card-content
              span.card-title.card-title-size.activator.grey-text.text-darken-4
                | Prenda de muestra
                i.material-icons.right more_vert
              p
                a(href='#') This is a link
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Prenda de muestra
                i.material-icons.right close
              p
                | Información del producto recientemente elegido y para quien fue elegido..
        .col.l3.m6.s12
          .card.selections1
            .card-image.selections2.waves-effect.waves-block.waves-light
              img.activator.responsive-img(src='img/inicio/select/02.jpg')
            .card-content
              span.card-title.card-title-size.activator.grey-text.text-darken-4
                | Prenda de muestra
                i.material-icons.right more_vert
              p
                a(href='#') This is a link
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Prenda de muestra
                i.material-icons.right close
              p
                | Información del producto recientemente elegido y para quien fue elegido..
        .col.l3.m6.s12
          .card.selections1
            .card-image.selections2.waves-effect.waves-block.waves-light
              img.activator.responsive-img(src='img/inicio/select/02.jpg')
            .card-content
              span.card-title.card-title-size.activator.grey-text.text-darken-4
                | Prenda de muestra
                i.material-icons.right more_vert
              p
                a(href='#') This is a link
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Prenda de muestra
                i.material-icons.right close
              p
                | Información del producto recientemente elegido y para quien fue elegido..
        .col.l3.m6.s12
          .card.selections1
            .card-image.selections2.waves-effect.waves-block.waves-light
              img.activator.responsive-img(src='img/inicio/select/02.jpg')
            .card-content
              span.card-title.card-title-size.activator.grey-text.text-darken-4
                | Prenda de muestra
                i.material-icons.right more_vert
              p
                a(href='#') This is a link
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Prenda de muestra
                i.material-icons.right close
              p
                | Información del producto recientemente elegido y para quien fue elegido..
      .row.partner
        h3
          p Partners
        .col.l4.m4.s12
          a(href='#one!')
            img(src='img/inicio/partner/1551.png')
            p Incubadora 1551
        .col.l4.m4.s12
          a(href='#one!')
            img(src='img/inicio/partner/1551.png')
            p Devs Marketing Digital
        .col.l4.m4.s12
          a(href='#one!')
            img(src='img/inicio/partner/1551.png')
            p Starter Agencia de Desarrollo
    footer.page-footer.black
      .container
        .row
          .col.l6.s12
            h5.white-text Síguenos en Redes Sociales
            p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
          .col.l4.offset-l2.s12
            h5.white-text Links
            ul
              li
                a.grey-text.text-lighten-3(target='blank' href='https://facebook.com.com/gentoapp') Facebook
              li
                a.grey-text.text-lighten-3(target='blank' href='https://twitter.com.com/gentoapp') Twitter
              li
                a.grey-text.text-lighten-3(target='blank' href='https://instagram.com/gentoapp') Instagram
      .footer-copyright
        .container
          | © 2017 GENTO
    // Import jQuery before materialize.js
    script(type='text/javascript', src='js/jQuery-3.1.1.js')
    script(src='js/materialize.min.js')
    script(src='js/headroom.min.js')
    script(src='js/inicio.js')
