doctype html
html(lang='es')
  head
    title GENTO
    link(rel="shortcut icon" type="image/png" href="/favicon.png")
    link(rel='shortcut icon' type='image/x-icon' href='/favicon.ico')
    meta(charset='UTF-8')
    // Import Google Icon Font
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Compiled and minified CSS
    
    link(rel='stylesheet', href='css/materialize.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/explorar.css')
    link(rel='stylesheet', href='css/inicio.css')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='gento, ropa para hombres, asesoria de estilo, e-commerce, fashion')
    meta(name='description', content='Gento, el e-commerce que escanea tus tallas, analiza tu estilo y busca entre todas las tiendas para darte las prendas que vayan contigo. Entra y vive la experiencia.')
    meta(name='author', content='Gento')
    meta(property='og:title', content='GENTO')
    meta(property='og:description', content='Gento, el e-commerce que escanea tus tallas, analiza tu estilo y busca entre todas las tiendas para darte las prendas que vayan contigo. Entra y vive la experiencia.')
    meta(property='og:image', content='https://trello-attachments.s3.amazonaws.com/589191fc28092a79ef050122/450x450/c14126b7f86ab109ac04e0ade59dd4e7/GENTOFUTURE.png')
    // Facebook Pixel Code
    script.
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1593964134242828'); // Insert your pixel ID here.
      fbq('track', 'PageView');
    noscript
      img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=1593964134242828&ev=PageView&noscript=1')
    // DO NOT MODIFY
    // End Facebook Pixel Code

  body
    header
      #header-web-gento.navbar-fixed
        nav.black
          .nav-wrapper
            a.brand-logo(href='#!')
              img(src='img/inicio/header/logo.png', alt='')
            a.button-collapse.icono-button(href='#', data-activates='mobile-demo', onclick='buttonChange()')
              i.material-icons.icono menu
            ul.right.hide-on-med-and-down
              li
                a.active(href='/') INICIO
              if bol.valor == 1
                li
                  a(href='/explorar') EXPLORAR
              if bol.valor == 0
                li
                  a(href='/pronto') REGISTRO
              else
                li
                  a(href='/perfil') PERFIL
            ul#mobile-demo.side-nav.side-nav-content(style="max-width:100vw;min-width:100vw")
              li
                a.active(href='/') INICIO
              if bol.valor == 1
                li
                  a(href='/explorar') EXPLORAR
              if bol.valor == 0
                li
                  a(href='/pronto') REGISTRO
              else
                li
                  a(href='/perfil') PERFIL
    main
      // NOTE: THIS IS THE  MAIN BACKGROUND OF THE PAGE
      .background-main
        h1(style='text-align:center;color:white')
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        a.btn.btn-black(style='background:black', href='#vid') CONOCER MÁS
      // NOTE: THIS IS THE PART OF THE VIDEO GENTO
      .row.sc1Video
        .container
          .video-container
            iframe(width="853" height="480" src="https://player.vimeo.com/video/201190365" frameborder="0" allowfullscreen)
      //- #vid.background-video(style='text-align:center;padding:50px')
      //-   iframe(src='https://player.vimeo.com/video/201190365', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
      // NOTE: WHY USE GENTO
      .why-container.valign-wrapper
        .row.valign
          .col.s12.why-1
            p.why-text ¿Por qué comprar en Gento?
          .col.s12
            .col.l4.m4.s12
              .col.l12.m12.s6
                img(src='img/inicio/how/01.png', alt='')
              .col.l12.m12.s6
                p ¿No encuentras las prendas correctas?
            .col.l4.m4.s12
              .col.l12.m12.s6
                img(src='img/inicio/how/02.png', alt='')
              .col.l12.m12.s6
                p Una simple foto no te dice cómo te quedará
            .col.l4.m4.s12
              .col.l12.m12.s6
                img(src='img/inicio/how/03.png', alt='')
              .col.l12.m12.s6
                p ¿Pierdes demasiados tiempo y dinero buscando?
      // NOTE: PART HOW TO USE GENTO
      .row.how
        .col.l5.m6.s12
          .how-iphone
            .slider.slider-how
              ul.slides
                li
                  img(src='img/inicio/vistas/01.png')
                  // random image
                li
                  img(src='img/inicio/vistas/02.png')
                  // random image
                li
                  img(src='img/inicio/vistas/03.png')
                  // random image
                li
                  img(src='img/inicio/vistas/04.png')
                  // random image
        .col.l7.m6.s12.how-text
          br
          br
          .col.s12
            h3 Es muy facil
          .col.s12
            span REGISTRATE
            br
            p
              | Ingresa tus datos básicos y tus tallas y gustos. Gento predecirá tu estilo y te creará un perfil.
          .col.s12
            span EXPLORAR
            br
            p
              | Recibe las recomendaciones de Gento personalizadas para ti y disfruta de la selección.
          .col.s12
            span COMPRA
            br
            p
              | Cuando encuentres tu prenda ideal solicítala por delivery o resérvala para probarla en tienda. Y listo, ¡ya tienes tu estilo ideal!
          br
          br
      // NOTE: CAMPO AÑADIDO ULTIMAS COMPRAS
      .row.sell
        .explorar-d.center
          .explorar-4
            p ULTIMAS
            p  COMPRAS
        .carousel.carousel-sell.carousel-sell-css.valign-wrapper
          .carousel-item.item-sell.white-text.valign.item-01(href='#one!')
            .row.carousel-text
              .col.l4.m4.s12.carousel-item-1
                img(src='img/explorar/lastsell/02.png', alt='')
                p
                  b.helvetica3 CRISTHIAN VALLE
                  br
                  |                       CLIENTE
              .col.l8.m8.s12.carousel-item-2
                p.helvetica3 BLAZER BROWN
                p.helvetica2
                  | "Excelente selección, me quedo completamente satisfecho"
                a.waves-effect.black.btn.helvetica2 PRECIO S/.170
          .carousel-item.item-sell.white-text.valign.item-02(href='#one!')
            .row.carousel-text
              .col.l4.m4.s12.carousel-item-1
                img(src='img/explorar/lastsell/04.png', alt='', style='border-radius: 50%')
                p
                  b.helvetica3 Mijail Galindo
                  br
                  |                       CLIENTE
              .col.l8.m8.s12.carousel-item-2
                p.helvetica3 Camisa Sport Verano
                p.helvetica2
                  | "Es muy difícil que alguien le atine a mi estilo, 100% recomendado"
                a.waves-effect.black.btn.helvetica2 PRECIO S/.90
          .carousel-item.item-sell.white-text.valign.item-03(href='#one!')
            .row.carousel-text
              .col.l4.m4.s12.carousel-item-1
                img(src='img/explorar/lastsell/06.png', alt='', style='border-radius: 50%')
                p
                  b.helvetica3 Jose Evanan
                  br
                  |                       CLIENTE
              .col.l8.m8.s12.carousel-item-2
                p.helvetica3 Pantalón Ejecutivo
                p.helvetica2
                  | "Buscaron incluso entre marcas que no conocía, pero todo me quedó perfecto y va conmigo."
                a.waves-effect.black.btn.helvetica2 PRECIO S/.120
      // NOTE: ESTE EL PARALLAX DE LLAMADA A LA ACCION
      .parallax-container.valign-wrapper
        .row.valign
          .col.s12.why-1.center
            p.why-text NO SUFRAS MAS PARA ENCONTRAR TU ESTILO.
            p.why-text SE PARTE DE LA EXPERIENCIA GENTO
            button.btn.btn-large.white.black-text.helvetica2(id='#', onclick='location.href="/pronto"') REGISTRARME
        .parallax
          img(src='img/inicio/llamada-accion/01.png')
      .row.partner
        h3
          p Partners
        .col.l3.m3.s6
          a(target='_blank', href='https://facebook.com/starter.pe')
            img(src='img/inicio/partner/logo-starter.png')
        .col.l3.m3.s6
          a(target='_blank', href='http://1551.pe')
            img(src='img/inicio/partner/logo-1551.png')
        .col.l3.m3.s6
          a(target='_blank', href='http://unmsm.edu.pe')
            img(src='img/inicio/partner/logo-unmsm.png')
        .col.l3.m3.s6
          a(href='#')
            img(src='img/inicio/partner/logo-devs.png')
    br
    br
    footer.page-footer.black
      .container
        .row
          .col.l6.s12
            h5.white-text Gento, la forma más inteligente de comprar ropa.
            p.grey-text.text-lighten-4
              span Recuerda que al comprar en Gento, medimos tus tallas,
              br
              span analizamos tu estilo para buscar en todas las tiendas
              br
              span y poder ofrecerte las mejores prendas personalizadas para ti.
          .col.l4.offset-l2.s12
            h5.white-text Síguenos en Redes Sociales
            ul
              li
                a.grey-text.text-lighten-3(target='blank', href='https://facebook.com/gentoapp')
                  i.fa.fa-facebook
                  p Facebook
              li
                a.grey-text.text-lighten-3(target='blank', href='https://twitter.com/gentoapp')
                  i.fa.fa-twitter
                  p Twitter
              li
                a.grey-text.text-lighten-3(target='blank', href='https://instagram.com/gentoapp')
                  i.fa.fa-instagram
                  p Instagram
      .footer-copyright
        .container
          strong hola@gento.pe  |  © 2017 GENTO      
    // Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-85217882-6', 'auto');
      ga('send', 'pageview');

    // Import jQuery before materialize.js
    script(type='text/javascript', src='js/jQuery-3.1.1.js')
    script(src='js/materialize.min.js')
    script(src='js/headroom.min.js')
    script(src='js/inicio.js')
