doctype html
html
  head
    meta(charset='UTF-8')
    title Gento Login
    link(rel="shortcut icon" type="image/png" href="/favicon.png")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    link(rel='stylesheet', href='css/login.css')
    script.
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1593964134242828'); // Insert your pixel ID here.
      fbq('track', 'PageView');
    noscript
      img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=1593964134242828&ev=PageView&noscript=1')
    // DO NOT MODIFY
    // End Facebook Pixel Code

  body
    center
      img.img-logo(src='img/pronto/02.png', width='250', height='90')
    .wrapper
      form.login(action='/session', method='POST')
        center
          h5(style='color: white;') E-mail
        input(type='email', name='email', placeholder='Ingresar Correo')
        i.fa.fa-user
        center
          h5(style='color: white;') Contraseña
        input(type='password', name='password', placeholder='Ingresar conraseña')
        i.fa.fa-key
        tr
        //- input(type='submit', value='Enviar')
        
        button#botn
          i.spinner
          span.state Iniciar Sesion
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-85217882-6', 'auto');
      ga('send', 'pageview');
    script(src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='js/login.js')
