@font-face {
  font-family: "helvetica1";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Helvetica1.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: "helvetica2";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Helvetica2.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: "helvetica3";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Helvetica3.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
html {
  font-family: helvetica1; }

.helvetica2 {
  font-family: helvetica2; }

.helvetica3 {
  font-family: helvetica3; }

.nav-wrapper a img {
  padding-top: 17px;
  margin-left: 20px; }
.nav-wrapper li a {
  font-family: helvetica2; }
  .nav-wrapper li a:hover {
    color: #4f82c2; }
  .nav-wrapper li a:active {
    color: #4f82c2; }

.side-nav {
  top: 56px;
  height: 600px; }

.navbar-fixed {
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: none; }

#sidenav-overlay {
  background: none;
  height: 0vh; }

.drag-target {
  z-index: -1; }

.side-nav-content {
  color: white;
  text-align: center;
  /*ANIMACION DEL NAVBAR SCROLL */ }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes headroom--unpinned {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
@keyframes headroom--unpinned {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
.slideUp {
  -webkit-animation-name: headroom--unpinned;
  animation-name: headroom--unpinned;
  animation-duration: 1s; }

@-webkit-keyframes headroom--pinned {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes headroom--pinned {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideDown {
  -webkit-animation-name: headroom--pinned;
  animation-name: headroom--pinned; }

.pronto {
  width: auto;
  color: white;
  padding-top: 50px; 
  padding-bottom: 100px;
}

.pronto-content {
  max-width: 500px;
  display: block;
  margin: auto; }
  .pronto-content img {
    width: 250px;
    height: auto; }
  .pronto-content p.pronto-content-text1 {
    font-size: 20px;
    line-height: 20px; }
  .pronto-content p.pronto-content-text2 {
    font-size: 19px;
    font-weight: bold;
    padding-top: 17px; }
  p {
    color: black;
  }

.pronto-form {
  background: RGBA(237, 237, 237, 1);
  min-width: 320px;
  max-width: 360px;
  display: block;
  margin: auto;
  padding-top: 20px; }

.pronto-date-know {
  text-align: center;
  width: 400px; }
  .pronto-date-know .input-field {
    text-align: center; }

/* label color */
.input-field {
  color: white; }
  .input-field label {
    font-size: 1.2rem; }
  .input-field label.active {
    font-size: 1rem; }

.input-field input[type=text]:focus + label {
  color: white; }
.input-field input[type=number]:focus + label {
  color: white; }
.input-field input[type=email]:focus + label {
  color: white; }

.input-field input[type=tel]:focus + label {
  color: white; }
.input-field input[type=password]:focus + label {
  color: white; }
/* label focus color */
input:not([type]),
input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=password] {
  color: white;
  text-align: center;
  font-size: 1.2rem; }

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

.input-field input[type=email]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

.input-field input[type=number]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

.input-field input[type=tel]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }
.input-field input[type=password]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

/* valid color */
.input-field input[type=text].valid, input[type=email].valid, input[type=tel].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* invalid color */
.input-field input[type=email].invalid, input[type=tel].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red; }

/*# sourceMappingURL=pronto.css.map */

.page-footer {
  margin-top: 0px !important;
}

.page-footer ul li a {
	display: inline !important;
}
.page-footer ul li p {
	display: inline !important;
	margin-left: 10px !important;
}
.footer-copyright .container{
	text-align: center;
}
.login {
  margin-top: 15px;
  color:white;
  font-size: 1.5 em;
  font-weight: bolder;
}
@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}
* {
  box-sizing: border-box;
}
.login {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 10px 20px 20px;
  width: 100%;
  max-width: 360px;
  background: RGBA(237, 237, 237, 1);
  position: relative;
  padding-bottom: 150px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.login.loading button {
  max-height: 100%;
  padding-top: 50px;
}
.login.loading button .spinner {
  opacity: 1;
  top: 40%;
}
.login.ok button {
  background-color: #000000;
}
.login.ok button .spinner {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 20px;
  animation: none;
  transform: rotateZ(-45deg);
}
.login input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 80%;
  border: 1px solid rgba(20, 18, 18, 0.3);
  transition: border-width 0.2s cubic-bezier(.42,-0.13,.37,1.3);
  border-radius: 2px;
  color: rgb(15, 14, 14);
}
.login input + i.fa {
  color: #dddddd;
  font-size: 1em;
  position: absolute;
  margin-top: -47px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.login input:focus {
  outline: none;
  color: #444;
  border-color: #000000;
  border-left-width: 35px;
}
.login input:focus + i.fa {
  opacity: 1;
  left: 30px;
  transition: all 0.25s ease-out;
}
.login a {
  font-size: 0.8em;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
 
}
.login h5 {
  color:while ;
}
.login .title {
  color: #000000;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #000000;
  padding-bottom: 20px;
}
.login button {
    width: 100%;
    height: 100%;
    padding: 40px 40px;
    background: #000000;
    color: #fff;
    display: block;
    border: none;
    margin-top: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    transition: all 0.1s ease-out;
    border-bottom-width: 7px;
}
.login button .spinner {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 4px solid #000000;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  left: 50%;
  top: 0;
  opacity: 0;
  margin-left: -20px;
  margin-top: -20px;
  animation: spinner 0.6s infinite linear;
  transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.login:not(.loading) button:hover {
  box-shadow: 0px 1px 3px #444;
}
.login:not(.loading) button:focus {
  border-bottom-width: 4px;
}
img {
    background-size: background-size[ background-size];
    left: 0;
    top: 0;
    width: 40%;
    height: 70%;
    border-style: none;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    width: auto/9;
}
.img-logo{
  margin-top: 2em !important;
}
.img-head {
  margin-top: 2em !important;
}
.registro-presentation-a p {
  color: white;
}
h5 {
  color: black !important;
}
.fireLogin {
  margin-left: 10px;
  padding: 7.5px 25px;
  background: #1AD245;
  color: white;
  font-size: 1.25em;
  border-radius: 2px;
  display: inline-block;
  font-weight: bold;
}
.fireRegister {
  padding: 7.5px 25px;
  background: #666;
  color: white;
  font-size: 1.25em;
  border-radius: 2px;
  display: inline-block;
  font-weight: bold;
}
.registro {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 10px 20px 20px;
  width: 100%;
  max-width: 360px;
  background: RGBA(237, 237, 237, 1);
  position: relative;
  padding-bottom: 150px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.registro.loading button {
  max-height: 100%;
  padding-top: 50px;
}
.registro.loading button .spinner {
  opacity: 1;
  top: 40%;
}
.registro.ok button {
  background-color: #000000;
}
.registro.ok button .spinner {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 20px;
  animation: none;
  transform: rotateZ(-45deg);
}
.registro input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 80%;
  border: 1px solid rgba(20, 18, 18, 0.3);
  transition: border-width 0.2s cubic-bezier(.42,-0.13,.37,1.3);
  border-radius: 2px;
  color: rgb(15, 14, 14);
}
.registro input + i.fa {
  color: #dddddd;
  font-size: 1em;
  position: absolute;
  margin-top: -47px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.registro input:focus {
  outline: none;
  color: #444;
  border-color: #000000;
  border-left-width: 35px;
}
.registro input:focus + i.fa {
  opacity: 1;
  left: 30px;
  transition: all 0.25s ease-out;
}
.registro a {
  font-size: 0.8em;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
 
}
.registro h5 {
  color:while ;
}
.registro .title {
  color: #000000;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #000000;
  padding-bottom: 20px;
}
.registro button {
    width: 100%;
    height: 100%;
    padding: 40px 40px;
    background: #000000;
    color: #fff;
    display: block;
    border: none;
    margin-top: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    transition: all 0.1s ease-out;
    border-bottom-width: 7px;
}
.registro button .spinner {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 4px solid #000000;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  left: 50%;
  top: 0;
  opacity: 0;
  margin-left: -20px;
  margin-top: -20px;
  animation: spinner 0.6s infinite linear;
  transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.registro:not(.loading) button:hover {
  box-shadow: 0px 1px 3px #444;
}
.registro:not(.loading) button:focus {
  border-bottom-width: 4px;
}